<h2 style="color:crimson;">Historial</h2>
<h1>Hola! <%=usuario%></h1>

<form action="/salirse" method="get">
<button class="btn btn-primary">Desloguarme</button>
</form>
<% if(mensajes.length > 0){ %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"> <th>Nombre</th> <th>Descripcion</th> <th>Precio</th> <th>Imagen</th> </tr>
            <% for (const producto of mensajes) {%>
            <tr>
                <td><%=producto.nombre%></td>
                <td><%=producto.descripcion%></td>
                <td><%=producto.precio%></td>
                <td><%=producto.foto%></td>

            </tr>
            <%};%>
        </table>
    </div>
<% } else{ %>
    <h3 class="alert alert-danger">no se encontraron datos</h3>
<% } %>

<div id="compresion"></div>

<p id="messages"></p>